@CHARSET "UTF-8";

html, .layout
{
    height: 100%;
}

.layout
{
    background: #5E5E5E url("../imgs/bg.jpg");
    color: #404040;
}

.layout .main-wrapper
{
    margin: 20px auto;
	width: 716px;
    font-size: 100%;
    position: relative;
}

.layout ul
{
    list-style: none;
}
